# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# ML specific
*.csv
*.h5
*.pth
HandsOnML/datasets/housing/housing.tgz
models/
